/* estilo_paginacion.css */

.paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.paginacion a,
.paginacion span {
    background-color: #333; /* Color de fondo de los botones */
    color: #f5f5f5; /* Color del texto */
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.paginacion a:hover {
    background-color: #01FFFF; /* Color de fondo en hover */
    color: #121212; /* Color del texto en hover */
}

.paginacion-num.activo {
    background-color: #01FFFF; /* Color de fondo para el número de página activo */
    color: #121212; /* Color del texto para el número de página activo */
    font-weight: bold;
    cursor: default;
}

.paginacion-btn {
    background-color: #555; /* Color de fondo para los botones de navegación */
    color: #fff; /* Color del texto en botones de navegación */
}

.paginacion-btn:hover {
    background-color: #01FFFF; /* Color de fondo en hover para botones de navegación */
    color: #121212; /* Color del texto en hover para botones de navegación */
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 600px) {
    .paginacion a,
    .paginacion span {
        font-size: 12px; /* Tamaño de fuente más pequeño en pantallas pequeñas */
        padding: 8px 10px;
    }
}
